@{
  Layout = null;
}



<html>
<head>
  <link href="~/admin/css/switch.css" rel="stylesheet" />
  <script src="~/admin/js/switch.js"></script>
</head>

<body>
  <div class="switch">
    <div class="switch__1">
      <input id="switch-1" type="checkbox">
      <label for="switch-1"></label>
    </div>
  </div>

</body>
</html>
