
@{
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}

<h4 class="text-center" style="margin-bottom:2rem; color: darkblue">Chào mừng bạn đến với trang quản lý hệ thống Medical Shop!</h4>
<img style=" width: inherit;" src="~/lib/images/about.jpg" />
