@{
  var vt = ViewBag.VaiTro;
}
@if (vt != null)
{
  <tr>
    <td>
      <input type="hidden" value="@vt.Id" id="idvt" />
      <input class='inputDisabled text-center' value="@vt.TenVt" style="width: 170px" type="text">
    </td>
    <td>
      <button class="fas fa-check btn btn-primary savevt" style="border-radius:7px"></button>
      <a class='fas fa-arrow-alt-circle-left btn btn-secondary' href='#'></a>
    </td>
  </tr>
}
else
{
  <tr>
    <td>
      <input class='inputDisabled text-center' style="width: 170px" type=text>
    </td>
    <td>
      <button class="fas fa-check btn btn-primary add" style="border-radius:7px"></button>
      <a class='fas fa-arrow-alt-circle-left btn btn-secondary' href='#'></a>
    </td>
  </tr>
}

