@{
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}

<body>



    <div class="col-md-16 mb-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-auto col-lg-auto col-form-label">Từ ngày</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" name="tuNgay" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="dd-MM-yyyy" id="tuNgay">
                    </div>
                    <label class="col-sm-auto col-lg-auto col-form-label">Đến ngày</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" name="denNgay" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="dd-MM-yyyy" id="denNgay">
                    </div>
                    <div class="col-md-1 mb-2 col-lg-1 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" onclick="baoCaoLoiNhuan()">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dạng biểu đồ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dạng bảng</a>
                    </li>
                    @*                    <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li> *@
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div style="width: 70%; margin: auto;">
                            <canvas id="myBarChart"></canvas>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table table-bordered table-hover table-striped text-center" id="tableChiTietPhieuNhap">
                            <thead style="position: sticky; top: 0;">
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày</th>
                                    <th>Doanh thu</th>
                                    <th>Giá vốn</th>
                                    <th>Lợi nhuận</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyBaoCaoLoiNhuan">
                            </tbody>
                            <tfoot>
                                <tr id="tongTien">
                                    <td></td>
                                    <td>Tổng</td>
                                    <td><input type="text" readonly class="form-control formatted-number" id="doanhThu" value="" /></td>
                                    <td><input type="text" readonly class="form-control formatted-number" id="giaVon" value="" /></td>
                                    <td><input type="text" readonly class="form-control formatted-number" id="loiNhuan" value="" /></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/admin/customjs/thongke.js"></script>