.overlay {
  margin: 60px;
}

.login-form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 20px 30px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  /*background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);*/
  background-color: #ffc0cb0a;
  border: 0.1px solid #00000040;
}

.login-form .con {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.head-form {
  margin: 2% auto 10% auto;
  text-align: center;
}
 
.head-form h2 {
  font-size: 250%;
  color: #3e403f;
}
 
.head-form p {
  letter-spacing: 0.05em;
}

.input-list {
  background: #fff;
  border-radius: 5px;
  border: 0.1px solid #00000040;
}

.input-item {
  color: #333;
  padding-left: 9px;
  border-radius: 5px 0px 0px 5px;
}

#eye {
  color: #333;
  margin: 5.9px 0 0 0;
  margin-left: -20px;
  padding-right: 9px;
  border-radius: 0px 5px 5px 0px;
  position: relative;
  right: 1%;
  top: -.2%;
  z-index: 5;
  cursor: pointer;
}

input[class="form-input"] {
  width: 240px;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  color: #5E6472;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}

input[id="txt-input"] {
  width: 250px;
}
 
input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}


.field-set button {
  display: inline-block;
  color: #fff;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  /*background: #fff;*/
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
  background: #1abc9cbf;
}

.submits {
/*  width: 48%;
  margin-left: 2%;*/
  display: inline-block;
  float: left;
}

 
.frgt-pass {
  background: transparent;
}

button:hover {
  transform: translateY(3px);
  box-shadow: none;
}

 
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px #1abc9c, 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  background: linear-gradient(0deg, #1abc9c 0%, #1abc9cbf 100%);
  border: none;
}

.btn-1:hover {
  background: #1abc9c;
  border: 0.1px solid #00000040;
}

.text-error ul {
  padding: 0px;
}


.text-error ul li {
  list-style-type: none;
  font-size: 14px;
  margin-top: -37px;
}






