.background-linear {
  background: linear-gradient(184deg, #69b3f599, transparent);
}


.menu-justify li{
  padding-right: 3%;
}


.menu-item li {
  padding: 3% 10px;
}


.search {
  font-size: 13px;
  border: 0.1px solid;
  border-radius: 20px;
  padding: 3px 20px 3px 30px;
}

.search:hover {
  box-shadow: 0.5px 1px #888888;
}


.input-search {
  width: 300px;
  background-color: transparent;
  /* border: 0.1px solid #80808057;*/
  border-radius: 10px;
  border: none;
  /* border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-color: var(--ytd-searchbox-legacy-button-color);*/
  
}

button.button-search {
  border: none;
  background-color: transparent;
}

/*button {
  outline-width: 0;
  background-color: transparent;
}*/

input.input-search:focus{
  outline-width: 0;
}




.img-content {
  margin-bottom: 30px;
}


.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 13px Helvetica, Arial, Sans-Serif;
  /* margin: 40px; */
  padding: 0;
  background-color:transparent;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 55px;
  background: brown; /* fallback color */
  background: hsla(209,82%,40%,1);
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(209,82%,40%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}

.breadcrumb li:nth-child(2) a {
  background: hsla(209,82%,50%,1);
}

.breadcrumb li:nth-child(2) a:after {
  border-left-color: hsla(209,82%,50%,1);
}

.breadcrumb li:nth-child(3) a {
  background: hsla(209,82%,60%,1);
}

.breadcrumb li:nth-child(3) a:after {
  border-left-color: hsla(209,82%,60%,1);
}

.breadcrumb li:nth-child(4) a {
  background: hsla(209,82%,70%,1);
}

  .breadcrumb li:nth-child(4) a:after {
    border-left-color: hsla(209,82%,70%,1);
  }

.breadcrumb li:nth-child(5) a {
  background: hsla(209,82%,80%,1);
}

.breadcrumb li:nth-child(5) a:after {
  border-left-color: hsla(209,82%,80%,1);
}

.breadcrumb li:last-child a {
/*  background: transparent !important;
  color: black;*/
  pointer-events: none;
  cursor: default;
}

.breadcrumb li:last-child a:after {
 /* border: 0;*/
}

.breadcrumb li a:hover {
  background: #073763;
}

.breadcrumb li a:hover:after {
  border-left-color: #073763 !important;
}