.search {
  border: 0.1px solid;
  border-radius: 20px;
  padding: 3px 20px 3px 30px;
}


.input-search {
  width: 300px;
  border: 0.1px solid #5ab9f48f;
  border-radius: 10px;
}

























#center.ytd-masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 728px;
  min-width: 0px;
}

ytd-searchbox {
  display: flex;
}

ytd-searchbox.ytd-masthead {
  margin: 0 0 0 40px;
  padding: 0 4px;
  flex: 1;
  flex-basis: 1e-9px;
}

#search-form.ytd-searchbox {
  height: 40px;
  position: relative;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
}


ytd-searchbox[desktop-searchbar-style=rounded_corner_borders_light_btn] #search-icon-legacy.ytd-searchbox {
  border-radius: 0 40px 40px 0;
}



#search-icon-legacy.ytd-searchbox {
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-color: var(--ytd-searchbox-legacy-button-color);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
}

#search-button.ytd-masthead, #search-button-narrow.ytd-masthead, #back-button.ytd-masthead, #back-button-tooltip.ytd-masthead {
  display: none;
}

yt-icon-button.ytd-masthead {
  --yt-icon-button-icon-width: 24px;
  --yt-icon-button-icon-height: 24px;
  color: var(--yt-spec-icon-active-other);
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 8px;
  box-sizing: border-box;
}

