.tablee{
  border-collapse: separate !important;
  border-spacing: 0;
  /* border: 0.1px solid #0000007d;  */
}

.tablee thead th {
  border: 0.1px solid #0705435c
}

.pr-0{
  padding-right: 0px;
}

.div-2button button{
  display:flex;
  justify-content: space-between;
}

.pr-05 {
  padding-right: 0rem !important;
  padding-left: 1.4rem !important;
}

.pl-0 {
  padding-left: 0px;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.pl-2rem {
  padding-left: 2rem !important;
}


.pr-2rem {
  padding-right: 2rem !important;
}

.sidebar {
  /*width: 6.5rem;
  min-height: 100vh;*/
  /*position: fixed;*/
  top: 60px;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  /*overflow-y: auto;*/
}

.mg-r {
  padding: 0px 20px;
}

.center {
  width: 50%;
  text-align: center;
  padding-left: 21%;
}

.sidebar {
  /* width: 6.5rem;*/
  min-height: 100vh;
}

.header-medical {
  /*width: -webkit-fill-available;
  position: fixed;*/
}

.dashboard ul {
  display: flex;
  padding-top: 90px;
  justify-content: center;
  border: 0.1px solid #0068f82e;
  /*scoll*/
  /*overflow-y: auto;
  overflow-x: hidden;
  max-height: 750px;*/
}

.content-medical {
  display: flex;
}

.main {
  margin-top: 70px;
  padding-top: 25px;
}

.main-content {
  
}

.content {
  width: 100%;
  background-color: #f6f9ff;
}

.footer {
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
}




/*.dashboard {
  width: 6.5rem;
  min-height: 100vh;
}*/
.bg-xx {
  background-color: #f6f9ff !important;
}

.medical-title {
  display: inline;
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;

}

a:hover {
  color: #224abe;
  text-decoration: none;
}


.table th{
  color: darkblue;
}

.table {
  color: black;
}

.table {
  font-size: 16px;
}

.text-left span{
  text-align: left !important;
}


/*title*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #022ca9;
}

.nullable {
  color: red;
  font-style: italic;
}

.slide-image img {
  border: 0.1px solid #9496a352;
  border-radius: 13px;
  padding: 0px 2px;
  margin: 5px 2px;
}


.group-left {
  width: 46%;
}


.group-right {
  width: 46%;
  margin-left: 8%;
}

.lighter{
  font-weight: lighter;
}

.color-black, .lighter{
  color: black;
}

/*.inputCT {
  width: 50%;
  height: auto;
}

.inputCT:hover {
  width: 100%;
  
}*/


.slgit dt, .slgit dd{
  padding: 5px;
}


.center-imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*.dashboard ul{ display: flex;padding-top: 90px;justify-content: center;border: 0.1px solid #0068f82e; overflow-y: auto;overflow-x: hidden;max-height: 750px;}*/


.w-h1 input{
  height: 1rem;
  width: 1rem;
}


.group-check-custom {
  background-color: #6e7e932b;
  padding: 1rem 3rem 1rem 2rem;
  width: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  height: 13rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: .1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}



/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}


.btn.focus, .btn:focus {
  box-shadow: none;
}


@media (max-width: 1000px) {
  #example tbody tr {
    white-space: nowrap;
  }
}

/*@media (max-height: 100px) {
  .card{
    overflow: auto;
  }
}*/


th {
  text-align: center !important;
  white-space: nowrap;
}

table thead tr th {
  
}


.ws_nowrap {
  white-space: nowrap;
}

.btn.disabled {
  border-color: transparent !important;
  /*color: #808080c7;*/
}
/*
.btn-disabled {
  color: white !important;
}*/